<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <link rel="stylesheet" href="./CSS/nav/Nav.css">
    <link rel="stylesheet" href="./CSS/header/header.css">
    <link rel="stylesheet" href="./CSS/header/headerCategories.css">
    <link rel="stylesheet" href="./CSS/content/TopProductList.css">
    <link rel="stylesheet" href="./CSS/content/DailyDiscover.css">
    <link rel="stylesheet" href="./CSS/footer/Footer.css">
</head>
<body>

    <!-- NAVIGATION BAR ------------------------------------------ NAVIGATION BAR --------------------------------------------- NAVIGATION BAR -->
    <nav>
        <div>
            <a href="../MainPage/MainPage.html"><img id="mainlogo" src="../resource/img/Elibs ka na-Photoroom.png" ></a>
        </div>
        <input type="text" name="searchbar" id="searchbar" placeholder="Search">
        <img id="cart" src="../resource/icon/whitecart-Photoroom.png">
        <div id="NavbarSpecs">
            <div class="sep">
                <div class="SpecsDesign"> <img id="accicon" src="../resource/icon/acc-Photoroom.png" > Account</div>
                <div class="SpecsDesign"> <img id="bell" src="../resource/icon/bell-Photoroom.png">Notification</div>
                <div class="SpecsDesign">Seller Centre</div> 
                <div class="SpecsDesign">Follow us on 
                    <img id="ig" src="../resource/icon/ig-Photoroom.png"> <img id="fb" src="../resource/icon/fb.png"></div>                     
            </div>
            <div class="sep">               
                <div class="SpecsDesign"><img id="help" src="../resource/icon/helpicon-Photoroom.png">Help</div>
                <div class="SpecsDesign"><img id="globe" 
                    src="../resource/icon/globe-Photoroom.png"> Language <img id="arrowdown" 
                    src="../resource/icon/arrowdown-Photoroom.png"></div>
                <div class="SpecsDesign" id="signup">Sign up</div>
                <div class="SpecsDesign" id="login"> <a href="../LoginPage/LoginPage.html">Login </a></div>
            </div>  
        </div>
    </nav>

    <!-- HEADER WITH IMAGE SLIDER------------------------------HEADER WITH IMAGE SLIDER------------------------------------HEADER WITH IMAGE SLIDER---->
    <div id="header">     
        <header class="slider-container">
            <!-- Slider Inputs (Radio buttons to control slides) -->
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            
            <!-- Slides (Images) -->
            <div class="slides">
            <img src="./resource/img/Untitled design.png" >
            <img src="./resource/img/Untitled design2.png" >
            <img src="./resource/img/Untitled design.png" >
            <img src="./resource/img/Untitled design2.png" >
            
            </div>
  
            <!-- Navigation buttons (Optional for custom navigation) -->
            <label for="slide1" class="prev">&#10094;</label>
            <label for="slide2" class="next">&#10095;</label>                   
        </header>     
        <img id="singlephoto" src="./resource/img/Elibs ka na.png">
    </div>

    <!-- HEADER CATEGORIES----------------------------------------HEADER CATEGORIES---------------------------------------------HEADER CATEGORIES---->
    <div id="headerForCateg">
        <div id="categories">
            CATEGORIES
        </div>
    </div>

    <!-- LIST OF CATEGORIES---------------------------------------LIST OF CATEGORIES------------------------------------------LIST OF CATEGORIES---->
    <div id="AllCategories">
        <div class="Category">
            <div class="categlabel"><a id="mensapparelanchor" href="../ProductsByCategoriesPage/ProdByCategPage.html"> Men's Apparel </a> </div>
            <img src="../resource/img/ListofCategPics/mens.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Mobile & Gadgets</div>
            <img src="../resource/img/ListofCategPics/mobiles.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Mobiles Accesories</div>
            <img src="../resource/img/ListofCategPics/mobilesaccessories.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Home Entertainment</div>
            <img src="../resource/img/ListofCategPics/homeentertainment.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Babies & Kids</div>
            <img src="../resource/img/ListofCategPics/babiesnkids.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Home & Living</div>
            <img src="../resource/img/ListofCategPics/home&living.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Groceries</div>
            <img src="../resource/img/ListofCategPics/groceries.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Toys, Games & Collectibles</div>
            <img src="../resource/img/ListofCategPics/toys.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Women's Bags</div>
            <img src="../resource/img/ListofCategPics/womensbags.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Women Accesories</div>
            <img src="../resource/img/ListofCategPics/womensaccesories.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Women's Apparel</div>
            <img src="../resource/img/ListofCategPics/womensapparel.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel"> Health & Personal Care</div>
            <img src="../resource/img/ListofCategPics/health.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel"> Makeup & Fragrances</div>
            <img src="../resource/img/ListofCategPics/makeup.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Home Appliances</div>
            <img src="../resource/img/ListofCategPics/homeappliances.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Laptops & Computers</div>
            <img src="../resource/img/ListofCategPics/laptops.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Cameras</div>
            <img src="../resource/img/ListofCategPics/cameras.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Sports & Travel</div>
            <img src="../resource/img/ListofCategPics/sportstravel.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Men's Bags & Accesories</div>
            <img src="../resource/img/ListofCategPics/mensaccesories.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Mens's Shoes</div>
            <img src="../resource/img/ListofCategPics/menshoes.PNG" alt="">
        </div>
        <div class="Category">
            <div class="categlabel">Motors</div>
            <img src="../resource/img/ListofCategPics/motors.PNG" alt="">
        </div>
    </div>

    <!-- CONTENT: TOP PRODUCTS LIST---------------------------CONTENT: TOP PRODUCTS LIST-----------------------------------CONTENT: TOP PRODUCTS LIST---->
    <div id="TopProductsLabel">
        TOP PRODUCTS
    </div>
    <div id="TopProductsList">
        <div class="box">
            <div class="text">Kilabot Essentials</div>
            <img class="topProductImg" src="../resource/img/topproduct1.png" alt="">
        </div>
        <div class="box">
            <div class="text">Honey Perfume</div>
            <img class="topProductImg" src="../resource/img/topproduct2.png" alt="">
        </div>
        <div class="box">
            <div class="text">Matcha Essentials</div>
            <img class="topProductImg" src="../resource/img/topproduct3.png" alt="">
        </div>  
        <div class="box">
            <div class="text">Parfyum</div>
            <img class="topProductImg" src="../resource/img/topproduct4.png" alt="">
        </div>
        <div class="box">
            <div class="text">Wood Brushes</div>
            <img class="topProductImg" src="../resource/img/topproduct5.png" alt="">
        </div>
        <div class="box">
            <div class="text">Pang Matikas</div>
            <img class="topProductImg" src="../resource/img/topproduct6.png" alt="">
        </div>
        <div class="box">
            <div class="text">Prod Name</div>
            <img class="topProductImg" src="../resource/img/topproduct6.png" alt="">
        </div>
        <div class="box">
            <div class="text">Prod Name</div>
            <img class="topProductImg" src="../resource/img/topproduct6.png" alt="">
        </div>
        <div class="box">
            <div class="text">Prod Name</div>
            <img class="topProductImg" src="../resource/img/topproduct6.png" alt="">
        </div>
    </div>
    

    <!-- CONTENT: DAILY DISCOVER--------------------------------CONTENT: DAILY DISCOVER---------------------------------------CONTENT: DAILY DISCOVER---->
    <div id="DailyDiscoverLabel">
        Daily Discover
        <hr>
    </div>
    <div id="parent">
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/prod1 (1).jpg">
                <div class="Details">
                    <div id="holder">
                        <div class="ProductLabel">
                            Liptint ata
                        </div> 
                        <div class="ProductSaleStatus">
                            Sulit Deal
                        </div>
                        <div class="ProductPrice">
                            <img class="peso" src="../resource/img/peso.png">
                            169
                        </div>
                    </div>
                </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/prod2.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Cannabis Oil
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        130
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/prod3.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Diko alam basta pambabae
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        40
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/prod4.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Pefume Shit
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                    610
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/camera.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Product Name
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        40
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/jeans.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Dickies
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        500
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/eababnakadress.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Dress di kasama eabab
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        980
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/jeansulet.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Vans ata na jeans
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        670
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/toy1.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Cars 
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        129
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/shoeswhite.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Adibasbas
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        3,799
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/sweater.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Sweater Amoy Chix
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        450
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/tupa.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Damit di kasama tupa
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        230
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/shoesgreen.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Nike Toffer Signature
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        4,799
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/robot.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Robot Action Figure
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        1,399
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/shoebalat.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Leather Shoes
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        2,950
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/iphone.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Tulfone
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        25,299
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/sldies.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Slidez
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        250
                    </div>
                </div>
            </div>
        </div>
        <div class="Product">
            <img class="Prodpicts" src="../resource/img/DlyProdPics/headppon.jpg">
            <div class="Details">
                <div id="holder">
                    <div class="ProductLabel">
                        Headphone Mabango
                    </div>
                    <div class="ProductSaleStatus">
                        Sulit Deal
                    </div>
                    <div class="ProductPrice">
                        <img class="peso" src="../resource/img/peso.png">
                        2,460
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- FOOTER-----------------------------------------------------------FOOTER----------------------------------------------------FOOTER---->


    <button id="logintoseemorebtn" name="LoginToSeeMorebtn"> Login to See More </button>

    <hr id="hrto">

    <footer id="footernanginamo">
        <div id="footerbody">
            <span>
                <h2>Buy and Sell Online on Elibs Ka na PH</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                Laborum voluptatum excepturi voluptatibus sequi sunt! Labore minima corporis 
                beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis minima corporis ratione voluptatem magni alias tempora maiores culpa 
                itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt! Labore
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                Laborum voluptatum excepturi voluptatibus sequi sunt! Labore minima corporis 
                beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis minima corporis ratione voluptatem magni alias tempora maiores culpa 
                itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt! Labore
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?
                <h2>Experience a Shopping Spree of a Lifetime on Elibs Ka na PH</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                Laborum voluptatum excepturi voluptatibus sequi sunt! Labore minima corporis 
                beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis minima corporis ratione voluptatem magni alias tempora maiores culpa 
                itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt! Labore
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                <br><br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                Laborum voluptatum excepturi voluptatibus sequi sunt! Labore minima corporis 
                beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis minima corporis ratione voluptatem magni alias tempora maiores culpa 
                itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt! Labore
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?
                    <h2>Get Free Shipping on Elibs Ka na PH</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                corporis ratione voluptatem magni alias tempora maiores culpa itaque aliquid!
                Laborum voluptatum excepturi voluptatibus sequi sunt! Labore minima corporis 
                beatae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis minima corporis ratione voluptatem magni alias tempora maiores culpa 
                itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt! Labore
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima 
                minima corporis beatae?Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                    Labore minima corporis beatae?  elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                    culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                        Labore minima corporis beatae?Labore minima corporis beatae?
                        elit. Debitis minima corporis ratione voluptatem magni alias tempora maiores
                        culpa itaque aliquid! Laborum voluptatum excepturi voluptatibus sequi sunt!
                            Labore minima corporis beatae?
                </span>
        </div>
    </footer>


</body>
</html>