#shoppingguarantee {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.label {
  color: gray;
  font-size: 13px;
  width: 40%;
  height: 35px;
}
#color {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
button {
  width: 155px;
  height: 40px;
  margin: 0 0 5px 0;
}
.btnside {
  text-align: center;
}
.btnimg {
  height: 20px;
  margin-left: 20px;
}
#qtty {
  margin: 35px 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.quantity-input {
  border-radius: 8px;
  font-size: 17px;
}
input[type="number"] {
  font-size: 18px;
  border: 1px solid #c639e2;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  padding-left: 10px;
}
input[type="number"]:focus {
  border-color: #b140dd;
  outline: none;
  box-shadow: 0 0 5px rgba(139, 45, 182, 0.5);
}
#quantity {
  width: 125px;
}
.addcartnbuy {
  width: 200px;
  height: 48px;
  cursor: pointer;
}
#addtocartnbuy {
  margin-top: 40px;
}
#addToCart {
  border: 1px solid #b533e9;
  background-color: #b140dd1c;
  margin: 0 10px 0 100px;
}
#addToCart:hover {
  background-color: #fbe9ff;
}
#BuyNow {
  background-color: #b533e9;
  border: none;
  color: white;
}
#BuyNow:hover {
  background-color: #ba4ce6;
}
