#main{
    position: absolute;
    left: 36%;
    top: 150px;
}
#box{
    border-radius: 40px;
    height: 600px;
    width: 500px;
    border: 2px solid rgba(181, 58, 212, 0.856);
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(150, 68, 226);
    padding: 20px;
    margin: 20px 0 0 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
input{
    width: 440px;
    height: 40px;
    margin: 20px 0 20px 0;
    border-radius: 8px;
    padding: 0 0 0 15px;
    border: 1px solid rgba(181, 58, 212, 0.459);
}
input::placeholder{
    font-size: 15px;
}
input[type="text"]:focus {
    outline: 1px solid rgb(204, 0, 255);
}
input[type="password"]:focus {
    outline: 1px solid rgb(204, 0, 255);
}
#button{
    background-color: rgb(160, 77, 238);
    height: 42px;
    border-radius: 8px;
    border: none;
    margin: 25px 0 15px 0;
    color: white;
    cursor: pointer;
}
#button:hover{
    background-color: rgb(172, 110, 230);
    transition: 0.2s;
}
#button:active{
    background-color: rgb(65, 8, 117);
}
#ForgotPass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(153, 0, 241);
}
#divhr{
    display: flex;
    flex-direction: row;
    color: rgba(204, 0, 255, 0.200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
hr{
    background-color: rgba(204, 0, 255, 0.200);
    height: 1px;
    border: none;
    width: 190px;
}