<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buying Page</title>
    <link rel="stylesheet" href="./CSS/Nav/Nav.css">
    <link rel="stylesheet" href="./CSS/Content/Content.css">
</head>
<body>
    <!-- NAVIGATION BAR ------------------------------------------ NAVIGATION BAR --------------------------------------------- NAVIGATION BAR -->
    <nav>
        <div>
            <a href="../MainPage/MainPage.html"><img id="mainlogo" src="../resource/img/Elibs ka na-Photoroom.png" ></a>
        </div>
        <input type="text" name="searchbar" id="searchbar" placeholder="Search">
        <img id="cart" src="../resource/icon/whitecart-Photoroom.png">
        <div id="NavbarSpecs">
            <div class="sep">               
                <div class="SpecsDesign"> <img id="accicon" src="../resource/icon/acc-Photoroom.png" > Account</div>
                <div class="SpecsDesign"> <img id="bell" src="../resource/icon/bell-Photoroom.png">Notification</div>
                <div class="SpecsDesign"><img id="globe" 
                    src="../resource/icon/globe-Photoroom.png"> Language 
                    <select id="languageDropdown">
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <option value="de">German</option>
                        <option value="zh">Chinese</option>
                    </select>
                </div>          
                <div class="SpecsDesign">Follow us on 
                    <img id="ig" src="../resource/icon/ig-Photoroom.png"> <img id="fb" src="../resource/icon/fb.png"></div>                     
            </div>
            <div class="sep">               
                <div class="SpecsDesign"><img id="help" src="../resource/icon/helpicon-Photoroom.png">Help</div>
                <div class="SpecsDesign">Seller Centre</div> 
                <div class="SpecsDesign"> Start Selling </div>               
            </div>  
        </div>
    </nav>

    <div id="container">
        
    </div>
</body>
</html>