<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buying Page</title>
    <link rel="stylesheet" href="./CSS/Nav/Nav.css" />
    <link rel="stylesheet" href="./CSS/Content/ProductNameToPrice.css" />
    <link rel="stylesheet" href="./CSS/Content/ShopVoucherToShipping.css" />
    <link rel="stylesheet" href="./CSS/Content/ShopGuarantee.css" />
    <link rel="stylesheet" href="./CSS/Content/Images.css" />
    <link rel="stylesheet" href="./CSS/Content/SellersInfo.css" />
  </head>
  <body>
    <!-- NAVIGATION BAR ------------------------------------------ NAVIGATION BAR --------------------------------------------- NAVIGATION BAR -->
    <nav>
      <div>
        <a href="../MainPage/MainPage.html"
          ><img id="mainlogo" src="../resource/img/Elibs ka na-Photoroom.png"
        /></a>
      </div>
      <input type="text" name="searchbar" id="searchbar" placeholder="Search" />
      <img id="cart" src="../resource/icon/whitecart-Photoroom.png" />
      <div id="NavbarSpecs">
        <div class="sep">
          <div class="SpecsDesign">
            <img id="accicon" src="../resource/icon/acc-Photoroom.png" />
            Account
          </div>
          <div class="SpecsDesign">
            <img
              id="bell"
              src="../resource/icon/bell-Photoroom.png"
            />Notification
          </div>
          <div class="SpecsDesign">
            <img id="globe" src="../resource/icon/globe-Photoroom.png" />
            Language
            <select id="languageDropdown">
              <option value="en">English</option>
              <option value="es">Spanish</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <option value="zh">Chinese</option>
            </select>
          </div>
          <div class="SpecsDesign">
            Follow us on
            <img id="ig" src="../resource/icon/ig-Photoroom.png" />
            <img id="fb" src="../resource/icon/fb.png" />
          </div>
        </div>
        <div class="sep">
          <div class="SpecsDesign">
            <img id="help" src="../resource/icon/helpicon-Photoroom.png" />Help
          </div>
          <div class="SpecsDesign">Seller Centre</div>
          <div class="SpecsDesign">Start Selling</div>
        </div>
      </div>
    </nav>
    <!-- CONTENT ------------------------------------------ CONTENT --------------------------------------------- CONTENT -->

    <div id="container">
      <div id="Pics">
        <div id="ColPics">
          <img
            id="mainprodpic"
            src="../resource/img/MENS APPAREL/Mensapparel11.jpg"
          />
        </div>
        <div id="otherpics">
          <div class="otherP">
            <img
              class="otherPImage"
              src="../resource/img/MENS APPAREL/Mensapparel1.jpg"
            />
          </div>
          <div class="otherP">
            <img
              class="otherPImage"
              src="../resource/img/MENS APPAREL/Mensapparel11.jpg"
            />
          </div>
          <div class="otherP">
            <img
              class="otherPImage"
              src="../resource/img/MENS APPAREL/Mensapparel11.jpg"
            />
          </div>
          <div class="otherP">
            <img
              class="otherPImage"
              src="../resource/img/MENS APPAREL/Mensapparel11.jpg"
            />
          </div>
          <div class="otherP">
            <img
              class="otherPImage"
              src="../resource/img/MENS APPAREL/Mensapparel11.jpg"
            />
          </div>
        </div>
        <div id="Shareandfav">
          <div id="share">
            Share:
            <img class="shareimg" src="../resource/img/socmedslogo/Fb.png" />
            <img class="shareimg" src="../resource/img/socmedslogo/ig.png" />
            <img class="shareimg" src="../resource/img/socmedslogo/Pt.png" />
            <img class="shareimg" src="../resource/img/socmedslogo/twit.avif" />
          </div>
          <div id="favorite">
            Favorite<img
              class="shareimg"
              src="../resource/img/socmedslogo/hrt.png"
            />
          </div>
        </div>
      </div>

      <!-- PRODUCT DETAILS ------------------------------------------ PRODUCT DETAILS--------------------------------------------- PRODUCT DETAILS -->

      <div id="Deets">
        <div id="productname"><h2>Product name</h2></div>
        <div id="ratings">
          <div class="nums">
            4.9
            <img class="star" src="../resource/img/goldstar.png" />
            <img class="star" src="../resource/img/goldstar.png" />
            <img class="star" src="../resource/img/goldstar.png" />
            <img class="star" src="../resource/img/goldstar.png" />
            <img class="star" src="../resource/img/goldstar.png" />
          </div>
          <div id="ratingscount">
            <div class="nums">29</div>
            <div id="ratinglabel">Ratings</div>
          </div>
          <div class="nums">16</div>
          <div id="soldlabel">Sold</div>
        </div>
        <div id="bgprice">
          <div id="price">
            <img id="pesosign" src="../resource/img/Angelespesosign.png" /> 399
          </div>
        </div>
        <div id="moredeets">
          <div id="vouchers">
            <div id="voucherlabel">Shop Vouchers</div>
            <div class="percentoff">
              <img class="peso" src="../resource/img/Angelespesosign.png" />12
              OFF
            </div>
            <div class="percentoff">
              <img class="peso" src="../resource/img/Angelespesosign.png" />15
              OFF
            </div>
            <div class="percentoff">
              <img class="peso" src="../resource/img/Angelespesosign.png" />20
              OFF
            </div>
            <div class="percentoff">
              <img class="peso" src="../resource/img/Angelespesosign.png" />18
              OFF
            </div>
            <div class="percentoff">
              <img class="peso" src="../resource/img/Angelespesosign.png" />8
              OFF
            </div>
          </div>
          <!-- VOUCHER CODE ENDS HERE -->

          <!-- SHIPPING SECTION STARTS HERE -->
          <div id="shippingsection">
            <div id="shiplabel">Shipping</div>
            <img id="truckicon" src="../resource/icon/delivery-truck.png" />
            <div id="shippingdeets">
              <div id="shiplocation">
                <div class="sep">Shipping To</div>
                <div id="location">
                  <select id="locationsDropdown">
                    <option value="Mm">Metro Manila</option>
                    <option value="If">Ifugao</option>
                    <option value="Tt">Tawi tawi</option>
                    <option value="Gt">General Trias</option>
                    <option value="Pg">Pagudpud</option>
                  </select>
                </div>
              </div>
              <div id="shipfee">
                <div class="sep">Shipping Fee</div>
                <div>36 pesos</div>
              </div>
            </div>
          </div>
          <!-- SHIPPNG SECTION ENDS HERE -->

          <!--SHOPPING GUARANTEE AND SO ON STARTS HERE-->
          <div id="shoppingguarantee">
            <div class="label">
              Shopping <br />
              Guarantee
            </div>
            <div>
              <select id="locationsDropdown">
                <option id="shopgar" disabled>Shopping Guarantee</option>
                <option value="Fe">Free and Easy Returns</option>
                <option value="Lpg">Lowest Price Guarantee</option>
              </select>
            </div>
          </div>

          <div id="color">
            <div class="label">Color</div>
            <div id="buttons">
              <button class="btnside">
                Green
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
              <button class="btnside">
                Black
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
              <button class="btnside">
                Blue
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
              <button class="btnside">
                Purple
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
              <button class="btnside">
                Orange
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
              <button class="btnside">
                Grey
                <img
                  class="btnimg"
                  src="../resource/img/DlyProdPics/iphone.jpg"
                />
              </button>
            </div>
          </div>

          <div id="qtty">
            <div class="label" id="quantity">Quantity</div>
            <input type="number" class="quantity-input" value="1" min="1" />
          </div>

          <div id="addtocartnbuy">
            <button class="addcartnbuy" id="addToCart">Add to Cart</button>
            <button class="addcartnbuy" id="BuyNow">Buy Now</button>
          </div>
        </div>
      </div>
    </div>

    <div id="SellersInfo">asd</div>
  </body>
</html>
