<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/Header/Header.css">
    <link rel="stylesheet" href="./CSS/Nav/Nav.css">
    <link rel="stylesheet" href="./CSS/Content/Content.css">
    <link rel="stylesheet" href="./CSS/Content/SideBar.css">
</head>
<body>

    <!-- NAVIGATION BAR ------------------------------------------ NAVIGATION BAR --------------------------------------------- NAVIGATION BAR -->

    <nav>
        <img id="mainlogo" src="../resource/img/Elibs ka na-Photoroom.png" >
        <input type="text" name="searchbar" id="searchbar" placeholder="Search">
        <img id="cart" src="../resource/icon/whitecart-Photoroom.png">
        <div id="NavbarSpecs">
            <div class="sep">
                <div class="SpecsDesign"> <img id="accicon" src="../resource/icon/acc-Photoroom.png" > Account</div>
                <div class="SpecsDesign"> <img id="bell" src="../resource/icon/bell-Photoroom.png">Notification</div>
                <div class="SpecsDesign">Seller Centre</div> 
                <div class="SpecsDesign">Follow us on 
                    <img id="ig" src="../resource/icon/ig-Photoroom.png"> <img id="fb" src="../resource/icon/fb.png"></div>                     
            </div>
            <div class="sep">               
                <div class="SpecsDesign"><img id="help" src="../resource/icon/helpicon-Photoroom.png">Help</div>
                <div class="SpecsDesign"><img id="globe" 
                    src="../resource/icon/globe-Photoroom.png"> Language <img id="arrowdown" 
                    src="../resource/icon/arrowdown-Photoroom.png"></div>
                <div class="SpecsDesign" id="signup">Sign up</div>
                <div class="SpecsDesign" id="login">Login</div>
            </div>  
        </div>
    </nav>


    <!-- HEADER WITH IMAGE SLIDER------------------------------HEADER WITH IMAGE SLIDER------------------------------------HEADER WITH IMAGE SLIDER---->

    <div id="header">     
        <header class="slider-container">
            <!-- Slider Inputs (Radio buttons to control slides) -->
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            
            <!-- Slides (Images) -->
            <div class="slides">
            <img src="./resource/img/Untitled design.png" >
            <img src="./resource/img/Untitled design2.png" >
            <img src="./resource/img/Untitled design.png" >
            <img src="./resource/img/Untitled design2.png" >
            
            </div>
  
            <!-- Navigation buttons (Optional for custom navigation) -->
            <label for="slide1" class="prev">&#10094;</label>
            <label for="slide2" class="next">&#10095;</label>                   
        </header>     
    </div>

    <!-- CONTENT---CONTENT---CONTENT---CONTENT--CONTENT---CONTENT---CONTENT------CONTENT----CONTENT--- CONTENT---CONTENT----CONTENT----CONTENT---CONTENT----CONTENT----CONTENT----CONTENT----CONTENT-----CONTENT---->

    <div id="Container">

         <!-- Side Bar------------------------------Side Bar------------------------------------Side Bar---->
        <div id="sidebar">
            <div id="Categories">
                <div id="AllCategories"> All Categories</div>
                <a href="#"> Men's Apparel</a>
                <a href="#"> Tops</a>
                <a href="#"> Shorts</a>
                <a href="#"> Pants</a>
                <a href="#"> Jeans</a>
                <a href="#"> Underwear</a>
            </div>
        </div>

    <!-- SORTING BAR------------------------------SORTING BAR------------------------------------SORTING BAR---->

        <div id="products">
            <div id="sortbybar">   
                <div id="SortBy">           
                    Sort By
                </div>  
                <div id="Popular">
                    Popular
                </div>
                <div id="Latest">
                    Latest
                </div>
                
                <div class="dropdown">
                    <label for="priceSort">Price:</label>
                    <select id="priceSort">
                      <option value="highToLow">High to Low</option>
                      <option value="lowToHigh">Low to High</option>
                    </select>
                </div>

                <div id="PageChange">
                    <div class="lessthangrtthan">
                        <
                    </div>
                    <div class="lessthangrtthan">
                        >
                    </div>
                </div>

            </div>
            <div id="Grid">
                <div id="parent">
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel1.jpg">
                            <div class="Details">
                                <div id="holder">
                                    <div class="ProductLabel">
                                        Air Jorban
                                    </div> 
                                    <div class="ProductSaleStatus">
                                        Sulit Deal
                                    </div>
                                    <div class="ProductPrice">
                                        <img class="peso" src="../resource/img/peso.png">
                                        10,000
                                        <div class="buycount">10k+ sold</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel2.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Varsity Jacket
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    830
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel3.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Jacket Estetik
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    400
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel4.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Pants pang Sheesh
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    610
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel5.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                   Off White Maangas
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    20,000
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel6.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    NY Cap
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    500
                                    <div class="buycount">8k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel7.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Astroboy Cap
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    980
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel8.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    OS Universe
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    670
                                    <div class="buycount">9k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel9.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    OS Tokyo
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    129
                                    <div class="buycount">7k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel10.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    G CASHK
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    3,799
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel11.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Relo 
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    1,450
                                    <div class="buycount">6k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel12.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Energy Shorts
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    230
                                    <div class="buycount">50k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/DlyProdPics/shoesgreen.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Nike Toffer Signature
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    4,799
                                    <div class="buycount">99k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel13.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Shorts din
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    399
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel115.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Brooklyn White
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    950
                                    <div class="buycount">8k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel16.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Stussy wawai
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    5,299
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/DlyProdPics/sldies.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Slidez
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    250
                                    <div class="buycount">5k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel17.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Wawai din
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    2,460
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel18.jpg">
                            <div class="Details">
                                <div id="holder">
                                    <div class="ProductLabel">
                                        Pants
                                    </div> 
                                    <div class="ProductSaleStatus">
                                        Sulit Deal
                                    </div>
                                    <div class="ProductPrice">
                                        <img class="peso" src="../resource/img/peso.png">
                                        669
                                        <div class="buycount">3k+ sold</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="Product">
                        <img class="Prodpicts" src="../resource/img/MENS APPAREL/Mensapparel19.jpg">
                        <div class="Details">
                            <div id="holder">
                                <div class="ProductLabel">
                                    Pantalon may dragon
                                </div>
                                <div class="ProductSaleStatus">
                                    Sulit Deal
                                </div>
                                <div class="ProductPrice">
                                    <img class="peso" src="../resource/img/peso.png">
                                    830
                                    <div class="buycount">10k+ sold</div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

</body>
</html>