<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="./CSS/Header/LoginHeader.css">
    <link rel="stylesheet" href="./CSS/Content/Content.css">
    <link rel="stylesheet" href="./CSS/Footer/Footer.css">

</head>
<body>

    <header>
        <img id="logo" src="../resource/img/Elibs ka na-Photoroom.png">
        <a id="Help" href="#"> Need Help? </a>
    </header>

    <div id="main">
        <div id="box">
            <h2>Login</h2>

            <form>
                <input type="text" name="username" placeholder="Phone number / Username / Email">
                <input type="password" name="password" placeholder="Password">
                <button id="button" type="button"> LOG IN </button>
                <a id="ForgotPass" href="#"> Forgot Password</a>
            </form>

            <div id="divhr">
                <hr> OR <hr>
            </div>

            <div id="FBgoogle">
                <button class="FBgooglebtn"><img id="fbimg" src="../resource/img/fbimg.webp"> Facebook </button>
                <button class="FBgooglebtn"><img id="gglimg" src="../resource/img/googleimg.webp"> Google </button>
            </div>

            <div id="newToElibskanaDiv">
                <h4>New to Elibs Ka na?</h4> <a id="signUp" href="../SignUpPage/SignUpPage.html"> Sign Up</a>
            </div>
            <div id="tomainpage">
                <a id="Gotomainpage" href="../MainPage/MainPage.html"> Go to MainPage</a>
            </div>

        </div>
    </div> 

    <div id="spacer">
        <footer id="footerhaha">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi odit ut nesciunt.
                Voluptatibus optio excepturi nihil quas repellendus minus quod eaque? Quam officia excepturi 
                ad dicta id amet eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessit
                atibus qui, quos aliquid odit atque aspernatur laborum incidunt repudiandae? Dolor dolores v
                ero eaque reprehenderit perspiciatis tenetur laudantium eveniet. Eius, asperiores aut.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vel labore sapiente dolo
                rem, voluptatibus voluptas aliquam, molestias quas et aperiam perspiciatis esse molestiae ne
                cessitatibus tenetur. Ut omnis reprehenderit non ad?  
                <h4>© 2025 Elibs ka na. All Rights Reserved .</h4>   
            </p>
        </footer>
        
    </div>
</body> 
</html>