<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="./CSS/Header/LoginHeader.css">
    <link rel="stylesheet" href="./CSS/Content/Content.css">

</head>
<body>

    <header>
        <img id="logo" src="../resource/img/Elibs ka na-Photoroom.png">
        <a id="Help" href="#"> Need Help? </a>
    </header>

    <div id="main">
        <div id="box">
            <h2>Login</h2>

            <form>
                <input type="text" name="username" placeholder="Phone number / Username / Email">
                <input type="password" name="password" placeholder="Password">
                <button id="button" type="button"> LOG IN </button>
                <a id="ForgotPass" href="#"> Forgot Password</a>
            </form>

            <div id="divhr">
                <hr> OR <hr>
            </div>
        </div>
    </div>
</body>
</html>